<nav>
  <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Página Inicial</button>
  <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Projetos</button>
  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Experiências</button>
  <button routerLink="/contato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contato</button>
</nav>

<section class="projetos-section">
  <h1 class="title">Projetos</h1>

  <div class="cards">
    <div class="card" *ngFor="let projeto of projetos">
      <img [src]="projeto.imagem" alt="{{ projeto.titulo }}" class="card-img" />
      <div class="card-content">
        <h3 class="card-title">{{ projeto.titulo }}</h3>
        <p class="card-description">{{ projeto.descricao }}</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
