<nav>
  <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Página Inicial
  </button>

  <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Projetos
  </button>

  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Experiências
  </button>

  <button routerLink="/contato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Contato
  </button>
</nav>

<!-- Seção das Experiências -->
<section class="experiencias">
  <h1>Experiências</h1>

  <div class="cards">
    @for(item of arrayExperiencias(); track item;){
      <details>
        <summary>
          <div>
            <strong>{{ item.summary.strong }}</strong>
            <p>{{ item.summary.p }}</p>
          </div>
        </summary>
        <article [innerHTML]="item.text"></article>
      </details>
    }
  </div>
</section>

<app-footer></app-footer>
